// Import Bootstrap
@import "./node_modules/bootstrap/scss/bootstrap";

// Customize color
$primary: #a78295 !default;
$secondary: #85586f !default;
$success: #74cb88 !default;
$info: #3f2e3e !default;
$warning: #e2c87b !default;
$danger: #dc3545 !default;
$light: #efe1d1 !default;
$dark: #331d2c !default;
