/** General CSS Stylesheet **/

/** Import Fonts **/
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8ede3;
  font-family: "Quicksand", sans-serif;
  color: #331d2c;
}

/**CSS Style for links in menu*/
.menu-link {
  text-decoration: none;
  color: #331d2c;
}

.menu-link:hover {
  text-decoration: underline;
}

.menu-link:visited {
  text-decoration: none;
  color: #331d2c;
}

/**CSS Style for red border around inputs if something went wrong*/
.error-border {
  border: 2px solid #dc3545 !important;
}

/**CSS Style for zoom-effect when hover*/
.zoom-effect {
  transition: transform 0.3s ease-in-out;
}

.zoom-effect:hover {
  transform: scale(1.1);
}

/**CSS Style for pagination*/
.pagination .page-item .page-link {
  background-color: #a78295 !important;
  color: #3f2e3e;
}

.pagination .page-item.active .page-link {
  background-color: #85586f !important;
  border-color: #efe1d1 !important;
  color: #efe1d1 !important;
}

@media screen and (max-width: 450px) {
  .slogan {
    font-size: 13px;
  }
}