.shop-by-category-wrapper {
  height: fit-content;
}

.category-container {
  height: 100%;
  width: 80vw;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.category-box {
  height: 400px;
  width: 400px;
  background-color: #a78295;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .category-container {
    width: 95vw;
  }

  .category-box {
    height: 375px;
    width: 375px;
  }
}
