.shop-by-category-wrapper {
  height: fit-content;
}

.category-container {
  height: 100%;
  width: 80vw;
  display: flex;
  gap: 2rem;
  background-color: darkgray;
}

.category-box {
  height: 300px;
  width: 300px;
  background-color: #a78295;
}
