.shop-by-category-wrapper {
  height: fit-content;
}

.category-container {
  height: 100%;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.category-box {
  height: 350px;
  width: 350px;
  background-color: #a78295;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1390px) {
  .category-container {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .category-container {
    width: 95vw;
  }

  .category-box {
    height: 375px;
    width: 375px;
  }
}
