/* Stylesheet for the forms, logIn or sigUp, in the LogInOffcanvas. */

.nav-link {
  background: #85586f;
  color: #f8ede3;
  border: none;
}

.nav-link:hover {
  color: #f8ede3;
  text-decoration: underline;
}

.nav-link:visited {
  color: #f8ede3;
}

.nav-item .active {
  background: #f8ede3 !important;
  border: none;
  color: #3f2e3e !important;
}
