.nav-link {
  color: #3f2e3e;
  background-color: #a78295;
}

.nav-link:hover {
  color: #efe1d1;
  border: none;
}

.active {
  color: #efe1d1 !important;
  background-color: #85586f !important;
  border: none !important;
}
