/* Stylesheet for the video in Homepage */

.video-background {
  position: relative;
  overflow: hidden;
  height: 80vh;
  padding: 0;
}

.video {
  position: absolute;
  height: 100%;
  width: 100vw;
  object-fit: cover;
  padding: 0;
}
